{% extends 'base.html' %}

{% block content %}
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#id_date", {
            dateFormat: "Y-m-d",
        });
    });
</script>

<h2>Add Transaction</h2>
<form method="POST" class="transaction-form">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->

    <div class="form-group">
        <label for="id_category">Category:</label>
        {{ form.category }}
    </div>
    
    <div class="form-group">
        <label for="id_amount">Amount:</label>
        {{ form.amount }}
    </div>
    
    <div class="form-group">
        <label for="id_description">Description:</label>
        {{ form.description }}
    </div>
    
    <div class="form-group">
        <label for="id_date">Date:</label>
        {{ form.date }}
    </div>
    
    <div class="form-group">
        <label for="id_is_income">Income:</label>
        {{ form.is_income }}
    </div>

    <button type="submit" class="submit-btn">Add Transaction</button>
</form>
<a href="{% url 'dashboard' %}" class="add-transaction-btn">Back to Dashboard</a>
{% endblock %}