<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
</head>
<body>
    <main>
        <div class="main-div">
            <h1>Finance Tracker</h1>
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            {% endif %}
            <br>
            {% block content %}{% endblock %}
            <br>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </main>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</body>
</html>